img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.section {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;

    .container {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        padding: 30px;
    }
}

.swiper-wrapper {
    flex: none;
    align-items: flex-start;
    display: flex;
}

.swiper-slide {
    flex: none;

    .people__card {
        position: relative;
        overflow: hidden;
        height: 640px;
        background-color: #111b1a;
        border-radius: 11px;

        @media (max-width: 1699px) {
            height: 512px;
        }

        @media (max-width: 1199px) {
            height: 450px;
        }

        @media (max-width: 991px) {
            height: 400px;
        }

        @media (max-width: 767px) {
            height: auto;
        }

        .people__card__image {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 13px;
            transition: transform 0.7s;
        }

        .people__card__content {
            position: relative;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            padding: 40px 30px;
            border-radius: 11px;
            transition: 0.3s;

            .slide__number {
                font-size: 32px;
                margin-bottom: 30px;
                color: #ebefe3;
            }

            .slide__title {
                font-size: 3em;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: -0.03em;
                color: #ebefe3;
                margin-bottom: 20px;
            }

            .slide__subtitle {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.6;
                color: #ebefe3;
                max-width: 70%;
                margin-bottom: 30px;
            }

            .slide__btn {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 12px 24px;
                border: 1px solid #ebefe3;
                border-radius: 30px;
                text-decoration: none;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #ebefe3;

                    .slide__btn__text {
                        color: #111b1a;
                    }

                    .slide__btn__icon {
                        path {
                            color: #111b1a;
                        }
                    }
                }

                .slide__btn__text {
                    font-size: 20px;
                    font-weight: 500;
                    color: #ebefe3;
                    margin-right: 5px;
                    transition: color 0.3s;
                }

                .slide__btn__icon {
                    width: 15px;
                    font-size: 24px;

                    path {
                        color: #ebefe3;
                        transition: 0.3s;
                    }
                }
            }
        }

        .slide__gradient {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(111deg, #000, rgba(0, 0, 0, 15%) 60%);
        }
    }
}

.swiper-slide.is-active .people__card__image {
    transform: translateX(100px);
}